ul.list-inline.mt-3.mb-3
    each link, name in links || {}
        li.list-inline-item.mx-2.my-1
            a(href=link.href, target='_blank', rel='noopener')
                span(class=link.icon)
                = ` ${link.text}`

p.small.
    Licensed under <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener">OQL</a>.
    Built with <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a>,
    <a href="https://bootswatch.com/sketchy/" target="_blank" rel="noopener">Bootswatch Sketchy</a>,
    <a href="https://avris.it/dl/columnist/" target="_blank" rel="noopener">Columnist</a>,
    icons from <a href="https://fontawesome.com/" target="_blank" rel="noopener">Font Awesome</a>,
    icons by <a href="https://thenounproject.com/iconka/collection/sketchy-icons/" target="_blank" rel="noopener">Denis Sazhin</a> from the Noun Project,
    web fonts from <a href="https://fonts.google.com/" target="_blank" rel="noopener">Google</a>,
    emojis from <a href="https://fonts.google.com/noto/specimen/Noto+Color+Emoji" target="_blank" rel="noopener">Google</a>
    and a photo by <a href="https://unsplash.com/photos/vGsf7HSWOU8" target="_blank" rel="noopener">Tran Mau Tri Tam</a> on Unsplash.
