.card-footer.pb-0
    .row
        .col-12.col-lg-6
            .form-group
                label= t('generator.FR.insee.birthyear')
                input.form-control(type='text', data-param='birthyear', placeholder='1969', inputmode="numeric", pattern="^(18|19|20|21|22)[0-9][0-9]$")
        .col-12.col-lg-6
            .form-group
                label= t('generator.FR.insee.birthmonth')
                input.form-control(type='text', data-param='birthmonth', placeholder='07', inputmode="numeric", pattern="0?[1-9]|1[0-2]")
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='birthmonthunknown', value=1).form-check-input
                        = t('generator.FR.insee.unknown')
    .row
        .col-12.col-lg-6
            .form-group
                label= t('generator.FR.insee.birthplace')
                input.form-control(type='text', data-param='birtplace', placeholder='75056', pattern='^\d{5}$')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='birtplaceunknown', value=1).form-check-input
                        = t('generator.FR.insee.unknown')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='birtplacedomestic', value=1, checked).form-check-input
                        = t('generator.FR.insee.domestic')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='birtplaceabroad', value=1).form-check-input
                        = t('generator.FR.insee.abroad')

        .col-12.col-lg-6
            p= t('valid.data.gender')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='m', checked).form-check-input
                        = t('gender.male')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='f', checked).form-check-input
                        = t('gender.female')
